services:
  hangman-api:
    image: hangman
    build: .
    pull_policy: never
    environment:
      UVICORN_HOST: "0.0.0.0"
      UVICORN_PORT: "8000"
    command: ["serve", "api"]
    volumes:
      - games-data:/app/data
    network_mode: "host"
    depends_on:
      - hangman-word

  hangman-word:
    image: hangman
    build: .
    pull_policy: never
    environment:
      UVICORN_HOST: "0.0.0.0"
      UVICORN_PORT: "8008"
    command: ["serve", "word"]
    volumes:
      - games-data:/app/data
    network_mode: "host"

  hangman-cli:
    image: hangman
    build: .
    pull_policy: never
    command: ["--help"]
    network_mode: "host"
    

volumes:
  games-data: