services:
  hangman-api:
    image: hangman
    build: .
    pull_policy: never
    environment:
      UVICORN_HOST: "0.0.0.0"
      UVICORN_PORT: "8000"
    entrypoint: []
    command: 
      - "uvicorn"
      - "hangman.api:api"
    volumes:
      - games-data:/app/data
    network_mode: "host"

  hangman-cli:
    image: hangman
    build: .
    pull_policy: never
    entrypoint: ["hangman"]
    command: ["--help"]
    network_mode: "host"
    

volumes:
  games-data: