services:

  hangman-api:
    image: hangman
    build: .
    command: ["uv", "run", "online-hangman/api.py"]
    ports:
      - "8000:8000"

  hangman-cli:
    image: hangman
    build: .
    command: ["uv", "run", "online-hangman/cli.py", "hangman"]